<div class="container" style="margin-top: 70px;">

  <div class="row">

    <div class="col-sm-8 offset-sm-2">

      <div>
        <form>
          <div class="form-group">
            <label for="name">Nome do contato</label>
            <input [(ngModel)]="contact.name" type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Digite o nome">
            <small id="nameHelp" class="form-text text-muted">Digite o nome do contato</small>

            <label for="email">Email do contato</label>
            <input [(ngModel)]="contact.email" type="text" name="email" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Digite o email">
            <small id="nameHelp" class="form-text text-muted">Digite o email do contato</small>

            <label for="description">Descrição do contato</label>
            <textarea [(ngModel)]="contact.description" name="description" class="form-control" id="description" aria-describedby="descHelp">
                      </textarea>
            <small id="descHelp" class="form-text text-muted">Digite uma descrição para do contato</small>

          </div>
        </form>
        <button class="btn btn-primary" (click)="createContact()">Criar contato</button>
      </div>
    </div>
  </div>
</div>
