<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h1>Minha Primeira App Angular</h1>
    <p class="lead">
        Esta aplicação exemplifica uma aplicação simples com Angular e Bootstrap
    </p>
</div>
